{%- if use_odooclaw %}
odoo-addons:
{%- if odoo_version >= 18.0 %}
    - mail_bot_odooclaw
    - mail_bot_odooclaw_account
    - mail_bot_odooclaw_crm
    - mail_bot_odooclaw_expense
    - mail_bot_odooclaw_fleet
{%- else %}
    - mail_bot_odooclaw
{%- endif %}
{%- endif %}
