ADMIN_PASSWORD={{ odoo_admin_password }}
{% if use_odooclaw %}
# OdooClaw
ODOO_DB={{ postgres_dbname }}
ODOO_USERNAME=admin
ODOO_PASSWORD={{ odoo_admin_password }}
ODOOCLAW_CHANNELS_ODOO_ENABLED=true
ODOOCLAW_CHANNELS_ODOO_WEBHOOK_HOST=0.0.0.0
ODOOCLAW_CHANNELS_ODOO_WEBHOOK_PORT=18790
ODOOCLAW_CHANNELS_ODOO_WEBHOOK_PATH=/webhook/odoo
ODOOCLAW_REDIS_URL=redis://redis:6379/0
ODOOCLAW_JOB_STORE=odoo
{% endif %}
